@font-face {
  font-family: 'menlo';
  src: url('/static/fonts/Menlo-Regular.ttf') format('truetype');
}

#tablature {
  font-family: 'menlo', sans-serif;
}

#message-input {
  font-family: 'menlo', sans-serif;
}